---
import type { GetStaticPaths } from "astro";

import Layout from "../../layouts/Layout.astro";
import data from "../../test.json"

export function getStaticPaths() {

    const paths = data.simulacrums.map((simulacrum) => ({
        params: {
            id: simulacrum.id   
        },
        props: {
            simulacrum: simulacrum
        }
    }));

    return paths;
}

const {simulacrum} = Astro.props;

const pasivas = simulacrum.pasivas;

---

<Layout title={simulacrum.nombre}>
    <div class="container mx-auto mb-10">
        <img class="rounded-xl md:rounded-3xl" src={simulacrum.banner} transition:name={simulacrum.nombre}>
        <div class="block md:flex my-5 md:flex-row-reverse md:flex-col-2 container gap-y-10 gap-x-5">
            <div class="md:w-[30%] mb-5 p-5 md:p-10 md:mb-0 gap-y-5 rounded-3xl bg-[#4A4458] tetx-[#E8DEF8]">
                <ul class="flex flex-wrap justify-center text-sm font-medium text-center">
                    <li class="">
                        <a href="#" aria-current="page" class="inline-block p-4 rounded-l-3xl border">Prototipo</a>
                    </li>
                    <li class="">
                        <a href="#" class="inline-block p-4 rounded-r-3xl border">Despertar</a>
                    </li>
                </ul>
            </div>
            <div class="md:w-[70%] p-5 md:p-10 gap-y-5 rounded-3xl bg-[#26242a] text-[#e6e1e5]">
                <img class="md:w-30 md:h-30 float-right" src=`../images/weapons/${simulacrum.armaid}.webp`>
                <pre class="text-xl whitespace-pre-line">{simulacrum.pasivas}</pre>
            </div>
        </div>
    </div>
</Layaout>